<ul id="wizards_header">
  <li class="<%= step == :step_one ? 'active' : '' %>">
    <%= link_to 'Step one', user_step_path(:step_one)%>
  </li>
  <li class="<%= step == :step_two ? 'active' : '' %>">
    <%= link_to 'Step two', user_step_path(:step_two)%>
  </li>
  <li class="<%= step == :step_three ? 'active' : '' %>">
    <%= link_to 'Step three', after_register_path(:step_three)%>
  </li>
  <li class="<%= step == :step_four ? 'active' : '' %>">
    <%= link_to 'Step four', after_register_path(:step_four)%>
  </li>
</ul>

<%= yield %>
