ul{
  padding:0;
  list-style-type: none;
  border:1px solid #ccc;
}
ul:before,ul:after{
  content:"";
  display:table;
}
ul:after{
  clear:both;
}
ul li {
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-family: sans-serif;
}
ul li.active {
    background: forestgreen;
    color: #fff;
}
ul li a {
    padding: 0 12px;
    height: 40px;
    line-height: 40px;
    position: relative;
    display: block;
}
ul li.active a:before,ul li.active a:after{
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent transparent transparent white;
    border-width: 20px;
    left: 0px;
}
ul li.active a:after{
    content: "";
    right: -40px;
    left: auto;
    border-color: transparent transparent transparent forestgreen;
}
ul li.active a {
    padding-left: 30px;
}
